:root{
    --main-color: #0D0D0D;
    --side-color: #3498db;
    --first-color: #595959;
    --second-color: #BFBFBF;
    --third-color: #F2F2F2;

}

.textwhite{
    color: var(--third-color);
}

.textdark{
    color: var(--first-color);
}

.textgrey{
    color: var(--second-color);
}

.headertext{
    font-family: "Climate Crisis", sans-serif;
    
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "YEAR" 1979;

      overflow: hidden;
}


.climate-crisis {
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "YEAR" 1979;
  }

  .forum {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
  }

  
.merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.header1{
    font-size: 72px;
    font-weight: 900;
    
}

.header2{
    font-size: 48px;

}

.header3{
    font-size: 36px;
}

.textnormal{
    font-size: 20px;
}


