/* HEADER */

#headercontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    max-width: 1280px;


    padding: 30px;
    margin: 0 auto;
}

.menuitem {
    padding: 0 16px;
}

.logo {
    font-size: 30px
}

/* LANDING */

#landing{
    
    padding: 0 1dvw;
    
}

.landrow{
   position: relative;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
    gap: 3.3%;
   min-height: 70dvh;   
   
}

.landitems{
    position: absolute;
    
}

.landitembig{
    width: 28%;
    
    
}

.landitemsmall{
    font-size: 90px;
    color: var(--second-color);
    right: -10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    
}

#landitem1{
   position: relative;
   color: var(--first-color);

}
#landing img{
    width: 100%;
}




#landitem3{
    filter: invert(100);
}

#landitem4{
    color: var(--first-color);
}



#landitem5{
    font-size: 56px;
    text-align: center;
    
}