/* HEADER */
#headercontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem 4dvh;
}

.menuitem {
    padding-left: 4dvh;
}

.logo {
    font-size: 30px
}

/* LANDING */

.landrow {
    position: relative;

    flex-wrap: wrap;
    gap: 3.3%;
    min-height: 70dvh;
    
}
.landitems {
    position: absolute;
}
.landitembig {
    width: 28%;
    position: relative;
    color: var(--first-color);
}
.landitemsmall {
    font-size: 90px;
    color: var(--second-color);
    
    right: -10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
#landing img {
    width: 100%;
}
#landitem3 {
    filter: invert(100);
}
#landitem4 {
    color: var(--first-color);
}
#landitem5 {
    font-size: 56px;
    text-align: center;
}

/* HOME */

.homerow{
    justify-content: space-between;
    flex-wrap: wrap;
}

.homeitems{
    width: 40%;
}

#homeitem1{
    margin-bottom: 4dvh;
}

#homeitem3{
    position: relative;
    
}
#homeitem3 img{
   
    max-width: 300px;
    
}

#homeitemaling{
    margin-left: 8dvh;
}

/* TAB */

#tab{
    margin: 8dvh 0;
}

.tabcontainer{
    gap: 2%;
}

.tabitems {
    background-color: var(--second-color);

    padding: 4dvh 2dvh;
    border-radius: 8px;
}

.tabitemshead {
    font-size: 30px;
    margin-bottom: 4dvh;
    text-align: center;
}

.tabitemstext{
    font-size: 20px;
}